@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-almarai), sans-serif;
  @apply dark:text-slate-200
}

.before::before {
  content: "1";
  position: absolute;
  background-color: #4ba3c3;
  width: 25px;
  border-radius: 8px;
  height: 25px;
  display: flex;
  padding-right: 10px;
  justify-content: start;
  align-items: center;
  right: -25px;
  color: aliceblue;
  transition: all 1s;
}

.before {
  transition: all 1s;
}

.before:hover {
  color: aliceblue;
}

.before:hover::before {
  width: 170px;
  z-index: -1;
}

.before2::before {
  content: "2";
  position: absolute;
  background-color: #4ba3c3;
  width: 25px;
  border-radius: 8px;
  height: 25px;
  display: flex;
  padding-right: 10px;
  justify-content: start;
  align-items: center;
  right: -25px;
  color: aliceblue;
  transition: all 1s;
}

.before2 {
  transition: all 1s;
}

.before2:hover {
  color: aliceblue;
}

.before2:hover::before {
  width: 170px;
  z-index: -1;
}

.before3::before {
  content: "3";
  position: absolute;
  background-color: #4ba3c3;
  width: 25px;
  border-radius: 8px;
  height: 25px;
  display: flex;
  padding-right: 10px;
  justify-content: start;
  align-items: center;
  right: -25px;
  color: aliceblue;
  transition: all 1s;
}

.before3 {
  transition: all 1s;
}

.before3:hover {
  color: aliceblue;
}

.before3:hover::before {
  width: 170px;
  z-index: -1;
}
